// Breakpoints
// -------------------------------------------------------

$break-mobile:            768px;
$break-tablet:            992px;
$break-desktop:           1280px;


//Custom breakpoints
// -------------------------------------------------------
$break-large-phone:       470px;
$break-small-desktop:     960px;
$break-large-desktop: 	  1440px;



