@import "variables.json";

// Blue
$cerulean:              map-get($colors, cerulean);
$aqua:                  map-get($colors, aqua);

// Orange/Brown
$pumpkin:               map-get($colors, pumpkin);
$sandstone:             map-get($colors, sandstone);
$sienna:                map-get($colors, sienna);
$brick:                 map-get($colors, brick);
$harvest:               map-get($colors, harvest);
$sunset:                map-get($colors, sunset);
$orange:                map-get($colors, orange);
$darkOrange:            map-get($colors, darkOrange);
$lightOrange:           map-get($colors, lightOrange);
$sunrise:               map-get($colors, sunrise);
$orangeJuice:			map-get($colors, orangeJuice);
$paleYellow:			map-get($colors, paleYellow);

// Neutral
$black:                 map-get($colors, black);
$white:                 map-get($colors, white);
$timberwolf:            map-get($colors, timberwolf);
$stone:                 map-get($colors, stone);
$slate:                 map-get($colors, slate);
$concrete:              map-get($colors, concrete);
$gray:                  map-get($colors, gray);
$coal:                  map-get($colors, coal);
$smoky:                 map-get($colors, smoky);
$cloudy:                map-get($colors, cloudy);
$darkGray:              map-get($colors, darkGray);
$lightGray:             map-get($colors, lightGray);
$whiteGray:				map_get($colors, whiteGray);

// Misc
$blaze:                 map-get($colors, blaze);
$hotPink:               map-get($colors, hotPink);
$pink:                  map-get($colors, pink);
$pale:					map_get($colors, pale);
$tan:                   map-get($colors, tan);
