// Font Families
$font-family: 'Open Sans', sans-serif;

// Text transform Map
$transform: (
        uppercase: uppercase,
        lowercase: lowercase,
        capitalize: capitalize
);

// Text alignment Map
$alignment: (
        left: left,
        right: right,
        center: center
);

// Font Weights
$light: 300;
$regular: 400;
$semibold: 600;
$bold: 700;
$extrabold: 800;

// Font Weights Map
$weights: (
        light: $light,
        regular: $regular,
        semibold: $semibold,
        bold: $bold,
        extrabold: $extrabold
);

// Font Sizes
$base-font-size:        16; // Used for pxToRem function
$font-size-base:        16px !default;

// Line Heights
$line-height-base:      1.5625 !default;
$line-height-computed:  floor(($font-size-base * $line-height-base)) !default; // ~25px
