/** _healthRatingInput.scss */
@import '../../styles/scss/toolkit';

.healthRatingInput {

	&__header {
		margin-bottom: pxToRem(20);
	}

	&__ratingLabelsContainer {
		position: relative;
		margin-top: pxToRem(-30);
		width: 100%;

		color: $concrete;

		font-size: pxToRem(14);

		@include bp-min(420px) {
			font-size: 1rem;
		}
	}

	&__ratingLabel {
		position: absolute;

		&:nth-child(1) {
			left: 0;
		}

		&:nth-child(2) {
			left: 25.333%;
		}

		&:nth-child(3) {
			left: 49.9%;
		}

		&:nth-child(4) {
			right: 0
		}

		@include bp-min(420px) {
			&:nth-child(2) {
				left: 26.3333%;
			}

			&:nth-child(3) {
				left: 56.5556%;
			}
		}

		@include breakpoint(sm) {
			&:nth-child(2) {
				left: 31%;
			}

			&:nth-child(3) {
				left: 62.6667%;
			}
		}

		@include breakpoint(md) {
			&:nth-child(2) {
				left: 25.3333%;
			}

			&:nth-child(3) {
				left: 52.6667%;
			}

		}
	}

	&__slider {
		div div:nth-child(3) {
			border: 3px solid white !important;
			background: linear-gradient(180deg, $orangeJuice 0%, $orangeJuice 50%, $orange 100%);
		}
	}
}

