// Breakpoints
// -------------------------------------------------------

// example: @include breakpoint(sm) { style }
@mixin breakpoint($class) {
  @if $class == sm {
    @media (min-width: $break-mobile) { @content; }
  }

  @else if $class == md {
    @media (min-width: $break-tablet) { @content; }
  }

  @else if $class == lg {
    @media (min-width: $break-desktop) { @content; }
  }

  @else {
    @warn "Breakpoint mixin supports: sm, md, lg";
  }
}

// Alternate mixin where you can pass specific values
// example: @include bp-min(480px) { style }
@mixin bp-min($value) {
  @media (min-width: $value) { @content; }
}

// example: @include bp-max(480px) { style }
@mixin bp-max($value) {
  @media (max-width: $value) { @content; }
}
