/**
 * @display.scss
 * global classes for hiding and showing
 *
 * display-sm-show
 * display-sm-hide
 *
 * display-md-show
 * display-md-hide
 *
 * display-lg-show
 * display-lg-hide
 */

$breakpoints:
        "sm",
        "md",
        "lg";


@each $i in $breakpoints{
  .display-#{$i}-show {
    display: none;

    @include breakpoint($i) {
      display: block;
    }
  }

  .display-#{$i}-hide {
    @include breakpoint($i) {
      display: none;
    }
  }
}
