@import "breakpoints";
@import "flex-grid";
@import "floats";
@import "show-hide";
@import "clearfix";

.contentContainer {
	padding: pxToRem(225) pxToRem(16) pxToRem(34) pxToRem(16);
	margin-left: auto;
	margin-right: auto;
	max-width: pxToRem(1264);

	transition: padding-top .4s linear;

	&--mobileDrawerOpen {
		padding-top: pxToRem(440);
	}

	@include breakpoint(sm) {
		padding-left: 3.8vw;
		padding-right: 3.8vw;
		padding-top: 3.26389vw;
	}

	@include bp-min($break-small-desktop) {
		padding-left: 4.65vw;
		padding-right: 4.65vw;
	}

	@include breakpoint(lg) {
		padding-left: 5.5vw;
		padding-right: 5.5vw;
	}

	@include bp-min($break-large-desktop) {
		padding-left: pxToRem(88);
		padding-right: pxToRem(88);
		padding-top: pxToRem(63)
	}
}

.flex {
	display: flex;

	&--spaceAround {
		justify-content: space-around;
		width: 100%;
	}
}

.marginAuto {
	margin: auto;
}

.maxHeight {
	height: 100%;
}

.maxWidth {
	width: 100%;
}

.noPadding {
	padding: 0;
}

.noMargin {
	margin: 0;
}
