/** _app.scss */
@import '../styles/scss/toolkit';

.transition {
	position: relative;

	&--current {
		transform: translateX(0%);
		transition:all 1.0s ease-in-out;
	}

	&--left {
		transform: translateX(-100%);
		height: 0;
		overflow: hidden;
	}

	&--right {
		transform: translateX(100%);
		height: 0;
		overflow: hidden;
	}
}

.transitionWrapper {
	width: 100%;
	overflow: hidden;

	@include breakpoint(sm) {
		overflow: visible;
	}
}

.invisible {
	visibility:hidden;
}

.errorText {
	font-size: .75rem;
	margin-left: 10px;
}

.invalidHeader {
	background-color: $paleYellow;
}
