/** _mobileQuoteDisplay.scss */
@import '../../../styles/scss/toolkit';

.mobileQuoteDisplay {
	margin-bottom: 1rem;
	min-height: pxToRem(88);

	&__container {
		z-index: 2;
		position: relative;
	}

	&__progress {
		width: pxToRem(70);
		margin: 0 auto 1rem;
	}

	&__quoteDollarSign {
		font-size:2.5rem;
	}

	&__stepProgress {
		color: white;

		font-size: 3.3rem;
		letter-spacing: pxToRem(-3);
		text-align: center;
		white-space: nowrap;
	}

	&__yearLabel {
		margin-top: pxToRem(-15);
		text-align: center;
		font-size: .8rem;
		color: $orange;
	}

	&__message {
		margin: auto;

		color: white;

		font-size: .8rem;
		text-align: center;
		line-height: 1.1rem;
	}
}
