/** _mobilePolicyValueInput.scss */
@import '../../../styles/scss/toolkit';

.mobilePolicyValueInput {
	position: relative;

	border-bottom:1px solid $sunset;

	background-color: $harvest;

	@include bp-min(480px) {
		padding-top: 15px;
	}

	&__policyLabel {
		padding-right: 15px;

		color: white;

		font-size: 1.5rem;
	}

	&__policyValue {
		margin: auto;
		border-left: 1px solid $sunset;
		padding-left: 15px;

		color: white;

		font-weight: $bold;
		font-size: .7em;
		line-height: 1.1em;
	}

	&__helpIcon {
		z-index: 3;
		margin: auto;
	}

	&__slider {
		margin: 0 12% 15px 12%;

		div {
			margin-top: 0 !important;
			margin-bottom: 0 !important;
		}
	}

	&__sliderLabels {
		margin: 0 12%;

		color: white;

		font-size: pxToRem(10);
	}
}
