/** _mobileHeader.scss */
@import '../../../styles/scss/toolkit';

.mobileHeader {
	background-color: $cerulean;
	padding: 5px 0;

	&__logo {
		width: 200px;
		height: 32px;
		margin: 0 auto;
	}

	&__icon {
		align-items: flex-end;
	}

	&__navigationDrawer a div span:hover{
		background-color: $cerulean !important;
	}
}
