/** _mobileTermLengthInput.scss */
@import '../../../styles/scss/toolkit';

.mobileTermLengthInput {
	z-index: 1;
	position: relative;

	background-color: $harvest;

	&__termValue {
		margin: auto;

		color: white;

		font-size: 1.4rem;
		text-align: center;
	}

	&__termLabel {
		margin: auto;
		border-left: 1px solid $sunset;
		padding-left: 15px;

		color: white;

		font-size: .7em;
		font-weight: bold;
		line-height: 1.1em;
	}

	&__slider {
		margin: 0 12% 0 12%;

		div {
			margin-top: 0 !important;
			margin-bottom: 0 !important;
		}
	}

	&__sliderLabels {
		margin: 0 12%;

		color: white;

		font-size: pxToRem(10);
	}
}
