/** _mobileStepDisplay.scs */
@import '../../../styles/scss/toolkit';

.mobileStepDisplay {
	background-color: $slate;

	//Targeting the lines betweens the stepper dots
	div div:nth-child(even) span {
		border-color: white !important;
		border-top-width: 2px !important;
	}

	&__stepLabel {
		padding: 0 0 0 6px !important;

		span {
			padding-right: 6px !important;
		}

		svg {
			border-radius: 50%;
			border: white 1px solid;

			background-color: white;
		}
	}

	&__message {
		margin-top: -15px;
		padding-bottom: 15px;

		color: white;

		text-align: center;
		font-size: pxToRem(14);
	}
}
