/** _mobileQuoteBar.scss */
@import '../../../styles/scss/toolkit';

.mobileQuoteBar {
	position: fixed;
	top: 0;
	left: 8px;
	z-index: 10;

	width: 100%;

	background-color: $sienna;

	@include breakpoint(sm) {
		display: none;
	}

	&__iconWrapper {
		background-color: $harvest;

		text-align: center;

		// For animation to spin arrow when drawerIsOpen
		&--drawerIsOpen button div svg {
			transform: rotate(180deg);
		}
	}

	&__drawer {
		max-height: pxToRem(200);
		overflow-y: hidden;

		&--open {
			transition: max-height .8s ease-in-out;
		}

		&--closed {
			max-height: 0;
			transition: max-height .8s ease-in-out;

			// This is to hide border during close animation
			.mobilePolicyValueInput{
				border-bottom: none;
			}
		}
	}
}

