@import '../../styles/scss/toolkit';

.submitSection {
	padding-top: 0;

	&__phone {
		color: $stone;

		@include breakpoint(sm) {
			text-decoration: none;

			pointer-events: none;
		}

		&Container {
			/*Add space before the phone number.  It was not adding it by itself.*/
			&:before {
				content: "\00a0";
			}
		}
	}
}
