/** _contactInfo.scss */
@import '../../styles/scss/toolkit';

.contactInfo {

	&__header {
		margin-bottom: 1rem;

		text-align: center;

		h2 {
			margin-bottom: 0;
		}

		h3 {
			margin-top: 0;
		}
	}
}

.phoneInput__label,
.emailInput__label {
	margin-bottom: 20px;
	margin-top:0;
	max-width: 400px;
	padding: 30px 5px 0 0;

	line-height: .8rem;
	text-align: left;

	@include breakpoint(sm) {
		text-align: right;
	}
}
