/** _footerInfo.scss */
@import '../../styles/scss/toolkit';

.footerInfoWrapper {
	position: relative;

	width: 100%;
	padding: 0;
	margin: 0;

	@include breakpoint(sm) {
		padding-left: 5%;
		margin: pxToRem(20) 0;

		background: $cloudy;
	}
}

.healthConcernsColumn {
	display: none;

	@include breakpoint(sm) {
		display: flex;
	}

	&__row {
		padding: pxToRem(10) 0;
		margin-right: pxToRem(10);
		height: auto;

		color: $lightGray;

		@include breakpoint(sm) {
			align-items: center;
		}
	}

	&__header {
		padding: pxToRem(10) 0;

		color: $cerulean;

		font-size: 1.8rem;
		font-weight: 600;
	}

	&__blockText {
		font-size: 1.3rem;

		& > p {
			margin: pxToRem(5) 0 0;

			font-weight: $regular;
		}
	}

	&__checkList {
		position: relative;
		float: left;

		display: flex;
		padding: 2rem 0 2rem 1rem;
		flex-flow: row wrap;
		align-items: center;

		@include breakpoint(lg) {
			height: 100%;
		}
	}

	&__checkText {
		width: initial;
		margin-right: pxToRem(20);
		min-width: pxToRem(140);
		float: left;

		font-size: 1.2rem;
	}
}


.trustPilotColumn {
	padding: pxToRem(20) 0 pxToRem(50);

	background: $timberwolf;
	color: $cloudy;

	text-align: center;
	font-size: .9rem;
	font-weight: $bold;

	@include breakpoint(sm){
		padding: pxToRem(20) pxToRem(10);

		background: $slate;
		color: $smoky;
	}

	&__rating {
		margin: 0;
		padding-bottom: pxToRem(10);

		color: white;

		font-size: 1.2rem;
		font-weight: $semibold;

		@include breakpoint(sm){
			color: black;
		}
	}

	&__iconsWrapper {
		display: flex;
		width: pxToRem(130);
		margin: auto;
		padding-bottom: pxToRem(20);
	}

	&__logoText {
		padding-right: pxToRem(10);

		font-size: .9rem;
		font-weight: $bold;
	}

	&__img {
		height: pxToRem(30);
		width: pxToRem(35);
	}

	&__logo {
		height: pxToRem(16);
		width: pxToRem(143);
	}

}

