/** _infoLink.scss */
@import '../../styles/scss/toolkit';

.horizontalRule {
	border: 0;

	@include breakpoint(sm) {
		width: 88%;
		margin: 0 6%;
		border-bottom: pxToRem(2) solid $cloudy;
	}
}

.infoLinkContainer {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	padding: pxToRem(15) 5%;

	background: $timberwolf;

	@include breakpoint(sm) {
		flex-flow: row;

		background: transparent;
	}

	&__mobileTitle {
		display: inline-block;
		width: 100%;
		padding: pxToRem(15) 0;

		color: white;

		text-align: center;
		font-size: 1.5rem;
		font-weight: 600;

		@include breakpoint(sm) {
			display: none;
		}
	}
}

.infoLink {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	min-height: pxToRem(110);
	width: 30%;
	margin: pxToRem(5) 0;
	padding: 0;

	text-align: center;
	text-decoration: none;

	@include breakpoint(sm) {
		width: pxToRem(240);
		height: pxToRem(120);
		flex-direction: row;
		flex: 1 1 auto;
		margin-right: pxToRem(5);

		text-align: left;
	}

	&__messageDesktop {
		display: none;
		width: pxToRem(150);
		padding-left: pxToRem(5);

		color: $smoky;

		@include responsive-font(1.5vw, 16px, 26px);
		font-weight: 600;
		line-height: 1.2rem;

		@include breakpoint(sm) {
			display: flex;
			width: 100%;
			flex-direction: column;
			flex: 1 1 auto;
		}

		@include breakpoint(lg) {
			line-height: 1.4rem;
		}
	}

	&__messageMobile {
		color: white;

		padding: 0 pxToRem(20);

		font-size: 1.2rem;
		font-weight: 600;
		line-height: 1.5rem;

		@include breakpoint(sm) {
			display: none;
		}
	}
	&__svgIcon {
		fill: white;

		@include breakpoint(sm) {
			fill: $smoky;
		}
	}
	&__svgWrapper {
		height: pxToRem(40);
		width: pxToRem(40);
		padding: pxToRem(10) 15% pxToRem(5);
		vertical-align: middle;

		@include breakpoint(sm) {
			padding: 0;
			width: pxToRem(30);
		}

		@include breakpoint(lg) {
			width: pxToRem(60);
		}
	}
}

