/** _legalText.scss */
@import '../../styles/scss/toolkit';

.legalText {
	color: $slate;
	font-size: .9rem;

	&__linkWrapper {
		padding: 20px 7% 0;
	}

	&__blockTextWrapper {
		padding: 10px 7%;
	}
}
