/** _socialLinks.scss */
@import '../../styles/scss/toolkit';

.socialIcons{

	&__wrapper {
		padding: 0 pxToRem(15);
		margin: pxToRem(30) 5.8% 0;

		display: flex;
		flex-direction: row;

		@include breakpoint(sm) {
			margin-top: 0;
		}
	}

	&__iconButton {
		padding: pxToRem(5);
	}

	&__svgWrapper {
		height: pxToRem(48);
		width: pxToRem(48);
	}

	&__svgIcon {
		fill: $aqua;
		padding-right: pxToRem(55);

		@include breakpoint(sm) {
			fill: $concrete;

		}
	}
}
