/** _customPhoneInput.scss */
@import '../../styles/scss/toolkit';

.customPhoneInput {
	position: relative;

	height: pxToRem(48);
	width: 100%;
	border-radius: pxToRem(8);
	margin-top: 1em;
	padding-left: pxToRem(15);

	background-color: $whiteGray;

	line-height: pxToRem(24);

	transition: height 200ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;

	&__input {
		position: relative;

		width: 100%;
		border: none;
		outline: none;
		padding: 0;
		height: 100%;

		background-color: rgba(white, 0);
		color: black;

		font-size: 1.2rem;
		letter-spacing: pxToRem(16);

		cursor: initial;
		-webkit-tap-highlight-color: rgba(white, 0);
	}

	&::before {
		content: '-';
		position: absolute;
		left: pxToRem(85);
		bottom: pxToRem(12);
	}

	&::after {
		content: '-';
		position: absolute;
		left: pxToRem(168);
		bottom: pxToRem(12);
	}
}
