@import '../../styles/scss/toolkit';

.orangeInputsContainer {
	margin: 3.5vh auto 0 auto;
	max-width: pxToRem(1440);
	overflow: hidden;
	padding: 0 3.8vw;

	@include bp-min($break-small-desktop) {
		padding: 0 4.65vw;
	}

	@include bp-min(1024px) {
		margin-top: pxToRem(20);
	}

	@include breakpoint(lg) {
		padding: 0 5.5vw;
	}

	@include bp-min($break-large-desktop) {
		padding: 0 pxToRem(88);
	}

	&--fixed {
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		z-index: 100;

		padding: 0;
		margin: 0;
		max-width: 100%;
		width: 100%;

		.quoteDisplay {
			padding-right: 3.8vw;

			background-color: rgba($sunrise, 1);

			@include bp-min($break-small-desktop) {
				padding-right: 4.65vw;
			}

			@include breakpoint(lg) {
				padding-right: 5.5vw;
			}

			@include bp-min($break-large-desktop) {
				padding-right: pxToRem(88);
			}

		}

		.termLengthInput {
			/*IE Fix*/
			min-height: pxToRem(110);

			flex: 1;

			background-color: $harvest;

			&:after {
				content: '';
				position: absolute;
				top: 0;
				right: pxToRem(-35);
				z-index: 100;

				border-top: pxToRem(100) solid transparent;
				border-bottom: pxToRem(100) solid transparent;
				border-left: pxToRem(100) solid $harvest;
				border-width: pxToRem(67) 0 pxToRem(67) pxToRem(35);

				@include bp-min(1280px) {
					border-width: pxToRem(83) 0 pxToRem(83) pxToRem(35);
				}

			}
		}

		.policyValueInput {
			/*IE Fix*/
			min-height: pxToRem(110);
			padding-left: 3.8vw;

			flex: 1;

			background-color: $harvest;

			@include bp-min(960px) {
				padding-left: 4.65vw;
			}

			@include bp-min(1280px) {
				padding-left: 5.5vw;
			}

			@include bp-min(1440px) {
				padding-left: pxToRem(88);
			}
		}

		.quoteDisplay {
			flex: 1;
		}
	}
}
