/** _policyValueInput.scss */
@import '../../styles/scss/toolkit';

.policyValueInput {
	padding: .8rem 2.5rem .5rem 0;
	position: relative;

	@include bp-min(1280px) {
		padding: 1.5rem 4rem 1.5rem 0;
	}

	&__sliderLabels {
		margin-top: pxToRem(10);

		font-size: pxToRem(10);
	}

	&__slider {
		> div {
			margin: pxToRem(23) 0 pxToRem(20) 0 !important;
		}
	}

	&__dollarSign {
		font-size: 1.5vw;
	}

	&__inputValue {
		font-size: 2.5vw;
		font-weight: 300;

		@include bp-min(938px) {
			font-size: 2.9vw;
		}

		@include bp-min(1440px) {
			font-size: 42px;
		}
	}

	&__inputLabel {
		padding-left: pxToRem(10);

		border-left: solid 1px $pale;

		@include responsive-font(1vw, 10px, false, false);
		font-weight: $bold;
		line-height: 1.1rem;
	}
}
