/** _popOver.scss */
@import '../../styles/scss/toolkit';

.popOver {
	display: none;
	margin-left: pxToRem(90) !important;
	max-width: pxToRem(260);

	@include breakpoint(sm) {
		display: block;
	}

	@include breakpoint(lg) {
		margin-left: pxToRem(175) !important;
		max-width: 100%;
	}

	> div {
		overflow: visible !important;
	}

	&__container {
		border-radius: pxToRem(15);
		padding: pxToRem(10) pxToRem(40) pxToRem(10) pxToRem(40);
		position: relative;

		font-size: pxToRem(12);

		color: $black;
		background-color: white;

		@include breakpoint(sm) {
			font-size: pxToRem(18);
		}

		a {
			color: $orange;
		}

		&:after, &:before {
			bottom: 100%;
			left: 15%;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
		}

		&:after {
			border-bottom-color: white;
			border-width: pxToRem(21);
			margin-left: pxToRem(-21);
		}

		&:before {
			border-bottom-color: $orange;
			border-width: pxToRem(24);
			margin-left: pxToRem(-24);
		}
	}
}
