/** _quoteBarHeader.scss */
@import '../../styles/scss/toolkit';

.quoteBar__header {
	height: pxToRem(81);
	margin-left: auto;
	margin-right: auto;
	max-width: pxToRem(1440);
	padding: 0 3.8vw;

	color: white;

	@include bp-min($break-small-desktop) {
		padding: 0 4.65vw;
	}

	@include breakpoint(lg) {
		padding: 0 5.5vw;
	}

	@include bp-min($break-large-desktop) {
		padding: 0 pxToRem(88);
	}

	&Logo {
		height: 4.58vw;
		width: 28.22vw;

		@include bp-min($break-small-desktop) {
			height: pxToRem(40);
			width: pxToRem(261);
		}
	}

	&Message {
		padding-right: 0;

		font-size: 1.5vw;
		text-align: right;

		@include bp-min(1024px) {
			font-size: pxToRem(16);
		}
	}

	&ContactNumber {
		line-height: 1.3;
		padding-left: pxToRem(7);

		font-size: 2.5vw;
		font-weight: $bold;
		text-decoration: none;

		@include bp-min(1024px) {
			font-size: pxToRem(26);
		}
	}
}
