@import '../../styles/scss/toolkit';

.quoteBar {
	display: none;
	min-height: pxToRem(315);
	overflow: hidden;

	background: url('../../images/hero.jpg') center top no-repeat;
	background-size: cover;
	color: white;

	@include breakpoint(sm) {
		display: block;
	}

	&__orangeWrapper {
		position: relative;

		&Background {
			bottom: 0;
			position: absolute;
			top: 0;
			z-index: 0;

			&--leftSide {
				left: 0;

				width: 64.9%;

				background-color: rgba($harvest, .95);

				@include bp-min($break-large-desktop) {
					width: calc( 840px + ((100% - 1266px) / 2));
				}
			}

			&--rightSide {
				right: 0;

				overflow: hidden;
				width: 35.1%;

				background-color: rgba($sunrise, .95);

				@include bp-min($break-large-desktop) {
					width: calc(426px + ((100% - 1266px) / 2));
				}

				//TODO: Make this css triangle truly responsive
				&:before {
					content: '';
					position: absolute;
					top: 0;
					left: pxToRem(0);
					z-index: 100;

					border-top: pxToRem(100) solid transparent;
					border-bottom: pxToRem(100) solid transparent;
					border-left: pxToRem(100) solid rgba($harvest, .85);
					border-width: pxToRem(66) 0 pxToRem(66) pxToRem(35);

					@include bp-min(1280px) {
						border-width: pxToRem(82) 0 pxToRem(82) pxToRem(35);
					}



				}
			}
		}
	}
}
