/** _quoteDisplay.scss */
@import '../../styles/scss/toolkit';

.quoteDisplay {
	position: relative;

	display: flex;
	align-items: center;
	padding: .5rem 0 .5rem 3.5rem;

	&__stepProgress {
		font-size: 3.2vw;
		white-space: nowrap;

		@include breakpoint(lg) {
			margin-top: pxToRem(-15);

			font-size: pxToRem(50);
		}
	}

	&__encouragingTextContainer {
		display: block;

		text-align: center;
		font-size: pxToRem(12);
		font-weight: $light;
		white-space: normal;
	}
}
