/** _stepDisplay.scss */
@import '../../styles/scss/toolkit';

.stepDisplay {
	position: relative;

	height: 100px;

	background-color: rgba(0, 0, 0, .6);

	color: white;

	&__container {
		margin-left: auto;
		margin-right: auto;
		max-width: pxToRem(1440);
		padding: 0 3.8vw;

		@include bp-min($break-small-desktop) {
			padding: 0 4.65vw;
		}

		@include breakpoint(lg) {
			padding: 0 5.5vw;
		}

		@include bp-min($break-large-desktop) {
			padding: 0 pxToRem(88);
		}
	}

	&__stepLabel {
		padding-left: 0!important;
		padding-right: 0!important;
		position: relative;

		/*Target material ui generated tag*/
		> span {
			padding-right: 0!important;
		}
	}

	&__stepText {
		position: absolute;
		top: pxToRem(50);
		left: pxToRem(-26);

		width: pxToRem(80);

		color: white;
		font-size: pxToRem(11);
		font-weight: $bold;
		text-align: center;
		line-height: 1.2;
	}
}
