/** _termLengthInput.scss */
@import '../../styles/scss/toolkit';

.termLengthInput {
	padding: .8rem 2.5rem .5rem 1.5rem;
	position: relative;

	@include bp-min(1280px) {
		padding: 1.5rem 2.5rem 1.5rem 2.5rem;
	}

	// Pale Divider
	&:before {
		content: '';
		position: absolute;
		left: 0;
		top: 15%;

		border-left: 1px $pale solid;
		height: 70%;
	}

	&__sliderLabels {
		margin-top: pxToRem(10);

		font-size: pxToRem(10);
	}

	&__slider {
		> div {
			margin: pxToRem(23) 0 pxToRem(20) 0 !important;
		}
	}

	&__inputValue {
		font-size: 2.5vw;
		font-weight: 300;

		@include bp-min(938px) {
			font-size: 3vw;
		}

		@include bp-min(1440px) {
			font-size: pxToRem(42);
		}
	}

	&__inputLabel {
		padding-left: pxToRem(10);

		border-left: solid 1px $pale;

		@include responsive-font(1vw, 10px, false, false);
		font-weight: $bold;
		line-height: 1.1rem;
	}
}
