@import "variables";
@import "functions";
@import "mixins";
@import "fonts";

html {
	font: normal 400 16px 'Open Sans', sans-serif;
	text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	margin: 0;
	overflow-x: hidden;
}

h2, .h2 {
	margin: 0;

	font-size: pxToRem(22);
	font-weight: $light;

	@include breakpoint(sm) {
		font-size: pxToRem(33);
	}
}

h3, .h3 {
	font-size: pxToRem(24);
	font-weight: $light;

	@include breakpoint(sm) {
		font-size: pxToRem(28);
	}
}

h4, .h4 {
	color: $orange;
	font-size: pxToRem(18);
	font-weight: $light;

	@include breakpoint(sm) {
		font-size: pxToRem(20);
	}
}

h5, .h5 {
	font-size: pxToRem(16);
	font-weight: $light;

	@include breakpoint(sm) {
		font-size: pxToRem(18);
	}
}



