/**
 * @color-classes.scss
 * global classes for backgrounds and colors
 * .background-$color | .color-$color
 */

$colors:
        "pumpkin"               $pumpkin,
        "cerulean"              $cerulean,
        "sandstone"             $sandstone,
        "sienna"                $sienna,
        "brick"                 $brick,
        "black"                 $black,
        "timberwolf"            $timberwolf,
        "stone"                 $stone,
        "slate"                 $slate,
        "concrete"              $concrete,
        "blaze"                 $blaze,
        "harvest"               $harvest,
        "sunset"                $sunset,
        "aqua"                  $aqua,
        "orange"                $orange,
        "darkOrange"            $darkOrange,
        "lightOrange"           $lightOrange,
        "sunrise"               $sunrise,
        "gray"                  $gray,
        "coal"                  $coal,
        "smoky"                 $smoky,
        "cloudy"                $cloudy,
        "darkGray"              $darkGray,
        "lightGray"             $lightGray,
        "hotPink"               $hotPink,
        "pink"                  $pink,
        "tan"                   $tan,
        "white"                 $white;

@each $i in $colors{
  .background--#{nth($i, 1)} {
    background: nth($i, 2);
  }
  .color--#{nth($i, 1)} {
    color:nth($i, 2);
  }
}
