/**
 * @margin-and-padding.scss
 * global classes for margin and padding
 * example generated classes for rem: .mt-1, mr-1, mb-1, ml-1 | .pt-1, pr-2, pb-3, pl-4
 * example generated classes for px: .mt-10px, mr-10px, mb-10px, ml-10px | .pt-10px, pr-20px, pb-30px, pl-40px
 */

$right-space-vars: (1 right r, 2 right r, 3 right r, 4 right r, 5 right r, 6 right r);
$bottom-space-vars: (1 bottom b, 2 bottom b, 3 bottom b, 4 bottom b, 5 bottom b, 6 bottom b);
$top-space-vars: (1 top t, 2 top t, 3 top t, 4 top t, 5 top t, 6 top t);
$left-space-vars: (1 left l, 2 left l, 3 left l, 4 left l, 5 left l, 6 left l);

@mixin generate-spacing-classes(
	$spacing-properties: ()
) {
	@each $item in $spacing-properties {
		.m#{nth($item, 3)}-#{nth($item, 1)} {
			margin-#{nth($item, 2)}: #{nth($item, 1)}rem;
		}
	}

	@each $item in $spacing-properties {
		.p#{nth($item, 3)}-#{nth($item, 1)} {
			padding-#{nth($item, 2)}: #{nth($item, 1)}rem;
		}
	}

	@each $item in $spacing-properties {
		.m#{nth($item, 3)}-#{nth($item, 1) * 5}px {
			margin-#{nth($item, 2)}: #{nth($item, 1) * 5}px;
		}
	}

	@each $item in $spacing-properties {
		.p#{nth($item, 3)}-#{nth($item, 1) * 5}px {
			padding-#{nth($item, 2)}: #{nth($item, 1) * 5}px;
		}
	}
}

@include generate-spacing-classes($left-space-vars);
@include generate-spacing-classes($right-space-vars);
@include generate-spacing-classes($bottom-space-vars);
@include generate-spacing-classes($top-space-vars);
