/** globals/_selects.scss */

.Select-wrapper {
	position: relative;
	margin-bottom: 20px;
}

.Select-placeholder {
	color: grey;
	font-size: 1.1em;
	padding-top: 5px;
	padding-left: 30px;
}

.Select-menu-outer {
	border-radius: 0 0 6px 6px;
	z-index: 100;
}

.Select-menu {
	background-color: white;
	border-radius: 0 0 6px 6px;
}

.Select-value {
	padding-top: 6px;
}

.has-value.Select--single > .Select-control .Select-value .Select-value-label, .has-value.is-pseudo-focused.Select--single > .Select-control .Select-value .Select-value-label {
	color: grey;
	font-size: 1.1em;
	padding-left: 20px;
}

.Select-option {
	color: grey;
	font-size: 1.2em;
	background-color: white;
}

.Select-option.is-focused {
	background-color: white;
	color: black;
	font-weight: bold;
}

.Select-option.is-selected {
	background-color: rgba(247, 161, 69, .15);
}

.is-focused:not(.is-open) > .Select-control {
	box-shadow: inset 1px 1px 0 rgb(247, 161, 69), 0 1px 0 rgb(247, 161, 69);
}
