/** globals/_slider.scss */
@import "../toolkit";

.slider {
	// This is to match Propulsion slider buttons
	div div:nth-child(3) {
		border: 3px solid rgba($harvest, 0.95) !important;
		background: linear-gradient(135deg, white 0%, white 50%, $tan 100%);
	}
}
