// Font Alignment Map Loop to create Modifier Classes
@each $case, $font-align in $alignment {
  .text--#{$case} {
    text-align: $font-align;
  }
}

// Font Transforms Map Loop to create Modifier Classes
@each $weight, $font-weight in $weights {
  .text--#{$weight} {
    font-weight: $font-weight;
  }
}

// Font Transforms Map Loop to create Modifier Classes
@each $case, $font-transform in $transform {
  .text--#{$case} {
    text-transform: $font-transform;
  }
}